body{
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    padding: 0 15px;
    margin: 0  auto;
}

.title{
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 28px;
}

.input{
    color:#121212;
    padding: 12px 30px;
    border-radius: 12px;
    border: 2px solid black;
    font-size: 22px;
}

.form{
    margin-bottom: 35px;
}

.text{
    margin-bottom: 20px;
}

.answers-user{
    width: 125px;
    height: 30px;
    border: 1px solid black;
}

.answers-user,.lastResult,.lowOrHi {
    height: 38px;
    width:43%;
    margin-bottom: 18px;
    padding: 8px;
}

.answers-user{
    width: 777px;
}

.resultParas{
    min-width: 555px;
}